<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Dashboard</title>

    <link rel="stylesheet" href="styles.css" type="text/css" media="all">

</style>
</head>
<body>
    
    <nav id = "navbar">
        <a href="/userhome" class = "menuItem">Home</a>
        <form action="/logout?_method=DELETE" class="menuItem" method = "POST">
            <button id ="logoutbutton" type="menu">Log Out</button>
        </form>
    </nav>

    <h1>Welcome <%= n %> </h1>

    <form action = "/userhome" method="POST">
    <div id = "content">
    <div id = "budgettool">
        <h3>Balance</h3>
        <h3 id = "budget">$<%= Number(budget).toFixed(2) %></h3>
        <textarea class = "hide" id= "data" name ="data" type="text"></textarea>
        <p class = "hide" id = "inputicon">$</p><input class = "hide" id= "budgetinput" name ="budget" type="text" placeholder="$0.00">
        <button class = "hide" type = "button" id = "cancelbudget" class = "show">Cancel</button>

        <h4 id = "error"></h4>
        <button type = "button" id = "setbudget" class = "show">Update</button>
    </div>
    <div id ="expensearea">
        <h3 id = "expensetitle">Expense List</h3>
        <button id = "showexpenseinput">+</button>
        <h4 class = "hide"id = "expenseerror">Please enter valid values</h4>
        <button class="hide" id = "cancelexpense"><span style="font-family: monospace">&#x21A9;</span></button>
        <div>
        <select class = "hide" id="type">
            <option value="expense">Expense</option>
            <option value="income">Income</option>
          </select>
        <input type="text" id = "expensename" class = "hide" placeholder="Expense/Income Name">
        <input type="text" id = "expensecost" class = "hide" placeholder="0.00">
        <button id = "addexpense" class = "hide">Add</button><br>
    </div>

        <table id = "expenses">
            <tr>
              <th>Expense</th>
              <th>Amount</th>
              <th></th>
            </tr>
            <% if (data != null && data[0].expense !== ""){ %>
                <% data = JSON.parse(data) %>

            <% for (let i = 0; i <data.length; i++){ %>
                <% if (data[i].cost > 0){ %>
                <tr>
                    <td><%= data[i].expense %></td>
                    <td style="background-color: rgb(201, 203, 212); color: green; font-size: 1em;"><%= data[i].cost %></td>
                    <td><button type="button" id = "removebutton" onclick="removeExpense(this)">X</button></td>
                </tr>
                <% } %>
                <% if(data[i].cost < 0){ %>
                    <tr>
                        <td><%= data[i].expense %></td>
                        <td style="background-color: rgb(165, 165, 165); color: red; font-size: 1em"><%= data[i].cost %></td>
                        <td><button type="button" id = "removebutton" onclick="removeExpense(this)">X</button></td>
                    </tr>
                    <% } %>


             <% } }%>



          </table>

    </div>
</div>
    <br>    <br>

    <button id = "save" type="Submit" value = "Submit">Save</button>
    </form>
    <script src="../budget.js"></script>


</body>
</html>